<div class="container">
	<a href="/exss">Выйти</a>
	<h3>Личный кабинет клиента с идентификатором {{clientID}}</h3>
	<p>Ваши данные:</p>
	<form class="form-horizontal" role="form" action="/cab2" method="post" name="AnketaForm">
		{{#each selfItems}}
		<div class="form-group">
			<label for="txClientID" class="col-sm-2 control-label">ID: </label>
			<div class="col-sm-10">
				<input type="text" class="form-control" id="txClientID" name="txClientID" value="{{this.ID}}" disabled />
			</div>
		</div>
		<div class="form-group">
			<label for="txLastname" class="col-sm-2 control-label">Фамилия: </label>
			<div class="col-sm-10">
				<input type="text" class="form-control" id="txLastname" name="txLastname" value="{{this.Lastname}}" />
			</div>
		</div>
		<div class="form-group">
			<label for="txLastname" class="col-sm-2 control-label">Имя: </label>
			<div class="col-sm-10">
				<input type="text" class="form-control" id="txFirstname" name="txFirstname" value="{{this.Firstname}}" />
			</div>
		</div>
		<div class="form-group">
			<label for="txLastname" class="col-sm-2 control-label">Отчество: </label>
			<div class="col-sm-10">
				<input type="text" class="form-control" id="txMiddlename" name="txMiddlename" value="{{this.Middlename}}" />
			</div>
		</div>
		<div class="form-group">
			<label for="txLastname" class="col-sm-2 control-label">Дата рождения: </label>
			<div class="col-sm-10">
				<input type="date" class="form-control" id="dtBirthdate" name="dtBirthdate" value="{{this.Birthdate}}" />
			</div>
		</div>
		<div class="form-group">
			<label for="rbGender" class="col-sm-2 control-label">Пол: </label>
			{{#if this.Gender}}
			<div class="radio col-sm-2">
				<label>
					<input type="radio" name="rbGender" id="rbGenderM" value="1" checked>Муж
				</label>
			</div>
			<div class="radio col-sm-2">
				<label>
					<input type="radio" name="rbGender" id="rbGenderF" value="0">Жен
				</label>
			</div>
			{{else}}
			<div class="radio col-sm-2">
				<label>
					<input type="radio" name="rbGender" id="rbGenderM" value="1">Муж
				</label>
			</div>
			<div class="radio col-sm-2">
				<label>
					<input type="radio" name="rbGender" id="rbGenderF" value="0" checked>Жен
				</label>
			</div>
			{{/if}}
		</div>
		<div class="form-group">
			<label for="txEmail" class="col-sm-2 control-label">email: </label>
			<div class="col-sm-10">
				<input type="text" class="form-control" id="txEmail" name="txEmail" value="{{this.Email}}" />
			</div>
		</div>
		<div class="form-group">
			<label for="txCountryCitz" class="col-sm-2 control-label">Страна гражданства: </label>
			<div class="col-sm-10">
				<input type="text" class="form-control" id="txCountryCitz" name="txCountryCitz" value="{{this.CountryCitz}}" disabled />
			</div>
		</div>
		<div class="form-group">
			<label for="txIIN" class="col-sm-2 control-label">ИИН: </label>
			<div class="col-sm-10">
				<input type="text" class="form-control" id="txIIN" name="txIIN" value="{{this.IIN}}" />
			</div>
		</div>
		<div class="form-group">
			<label for="txPasspNum" class="col-sm-2 control-label">Номер паспорта/уд.личн: </label>
			<div class="col-sm-10">
				<input type="text" class="form-control" id="txPasspNum" name="txPasspNum" value="{{this.PasspNum}}" />
			</div>
		</div>
		{{/each}}
		<input type="submit" class="btn btn-success btn-lg" id="btnSaveAnketa" name="btnSaveAnketa" value="Сохранить"/>
	</form>
	<br />
	<form class="form-inline" role="form">
		<div class="form-group">
			<label class="sr-only" for="oldPwd">Текущий пароль</label>
			<input type="password" class="form-control" id="oldPwd" placeholder="текущий пароль">
		</div>
		<div class="form-group">
			<label class="sr-only" for="newPwd">Новый пароль</label>
			<input type="password" class="form-control" id="newPwd" placeholder="новый пароль">
		</div>
		<div class="form-group">
			<label class="sr-only" for="newPwdAgain">Новый пароль (еще раз)</label>
			<input type="password" class="form-control" id="newPwdAgain" placeholder="новый пароль (еще)">
		</div>
		<button type="button" class="btn btn-primary" id="btnNewPwd">Сменить пароль</button><br />
		<p id="pwdChangeResult" class="bg-info"></p>
	</form>
	<div class="form-group">
		<p>Ваша структура:</p>
		<div class="radio">
			<label>
				<input type="radio" name="radioStruct" id="radioStructTbl" value="table" checked>Таблица
			</label>
		</div>
		<div class="radio">
			<label>
				<input type="radio" name="radioStruct" id="radioStructChrt" value="chart">График
			</label>
		</div>
	</div>
	<div id="structTable">
	<table class="table">
		<th>Уровень</th>
		<th>ID спонсора</th>
		<th>Фамилия спонсора</th>
		<th>Имя спонсора</th>
		<th>ID клиента</th>
		<th>Фамилия клиента</th>
		<th>Имя клиента</th>
		{{#each items}}
		<tr>
		<td>{{ this.lev }}</td>
		<td>{{ this.IDClParent }}</td>
		<td>{{ this.LastnameP }}</td>
		<td>{{ this.FirstnameP }}</td>
		<td>{{ this.IDClient }}</td>
		<td>{{ this.Lastname }}</td>
		<td>{{ this.Firstname }}</td>
		</tr>
		{{/each}}
	</table>
	</div>
	<div class="chart" id="OrganiseChart-simple">
	</div>
	<script src="./Treant/vendor/raphael.js"></script>
	<script src="./Treant/Treant.js"></script>
	<script src="./Treant/super-simple.js"></script>
	<script>
		$(document).ready(function(){
			var isChStruct = $('#radioStructTbl').prop('checked');
			if(isChStruct){
				$("#structTable").show();
				$("#OrganiseChart-simple").hide();
			}
			else {
				$("#structTable").hide();
				$("#OrganiseChart-simple").show();
				new Treant( simple_chart_config );
			}
		});
		//new Treant( {{itemsJSON}} );
		
		$("#btnNewPwd").click(function(){
			var sClientID = $("#txClientID").val();
			var sOldPwd = $("#oldPwd").val();
			var sNewPwd = $("#newPwd").val();
			var sNewPwdAgain = $("#newPwdAgain").val();
			$('#pwdChangeResult').text("Функция смены пароля находится в процессе разработки");
			$.ajax({
			  method: "POST",
			  url: "/newpwd",
			  data: { id: sClientID, oldpwd: sOldPwd, newpwd: sNewPwd, newpwdagain: sNewPwdAgain }
			})
			  .done(function( result ) {
				$("#pwdChangeResult").empty().append( result );
			  });
		});
		
		$("#radioStructTbl").click(function(){
			$("#structTable").show();
			$("#OrganiseChart-simple").hide();
		});
		$("#radioStructChrt").click(function(){
			$("#structTable").hide();
			$("#OrganiseChart-simple").show();
			
			var sClientID = $("#txClientID").val();
			$.get("/getChartData/"+sClientID, function(data, status){
				//alert("Data: " + data + "\nStatus: " + status);
				//simple_chart_config = data;
				new Treant( data );
			});
			//$.getJSON("/getChartData/"+sClientID, function(result){
				//simple_chart_config = result;
				//new Treant( result );
				//$.each(result, function(i, field){
				//	$("div").append(field + " ");
				//});
			//});
			//new Treant( simple_chart_config );
			
		});
	</script>

</div>